body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.WelcomeMessage {
  color: blueviolet; 
  font-weight: 400;
  font-style: italic;
}
.Selection {
  text-align: justify;
  color: aqua;
  font-family: cursive;
  font-weight: 100;
  font-size: medium;
  font-style: oblique;
}
